# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Entornos virtuales
# ===============================
venv/
env/
.venv/

# ===============================
# Variables de entorno
# ===============================
.env
.env.*

# ===============================
# Flask
# ===============================
instance/
.webassets-cache

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Sistema
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs / Editores
# ===============================
.vscode/
.idea/

# ===============================
# Archivos temporales
# ===============================
*.tmp
*.bak


firebase-credentials.json

